@model SinpeEmpresarial.Web.Models.ErrorViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        body {
            font-family: system-ui, Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #b91c1c;
            margin-top: 36px;
        }

        h3 {
            color: #444;
            font-weight: normal;
        }
    </style>
</head>
<body>
    <hgroup>
        <h1>@Model.Title</h1>
        <h3>@Model.Message</h3>
    </hgroup>
</body>
</html>
